<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanslagrovegmail.sisteminformasikesehatan">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sikepok"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sikepok"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Background_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".klinik" />
        <activity android:name=".apotek" />
        <activity android:name=".registrasi" />
        <activity android:name=".forum" />
        <activity android:name=".rs_terdekat" />
        <activity android:name=".daftar_rs" />
        <activity
            android:name=".menu_rs"
            android:label="@string/title_activity_menu_rs"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>